# MongoDB Connection URI
# For local development: mongodb://localhost:27017/restaurant-ms
# For MongoDB Atlas: mongodb+srv://<user>:<password>@<cluster>.mongodb.net/restaurant-ms
MONGODB_URI=mongodb://localhost:27017/restaurant-ms
